@page "/enter"
<h3>SubmitEnter</h3>

<div class="row">
    <div class="col">
        <label class="col-form-label">Passwort:</label>
        <form @onsubmit="Save">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Passwort" @bind="passwort">
            <button class="btn btn-outline-secondary" type="submit" >save</button>
            </div>
        </form>
    </div>
</div>
@passwort
@code {
    string passwort;
    void Save()
    {
        
    }
}
