@page "/repeater"
@using Models
@inject NorthwindContext db
<h3>UseRepeater</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Spalte 1</th>
            <th>Spealte 2</th>
        </tr>
    </thead>
    <tbody>
        <Repeater ModelType="Customer" Context="item" SelectMethod="GetCustomers">
            <ItemTemplate>
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                </tr>
            </ItemTemplate>
            <EmptyDataTemplate>

                <tr>
                    <td colspan="2">keine Daten</td>
                </tr>
            </EmptyDataTemplate>
        </Repeater>
    </tbody>
</table>

@code {
    List<Customer> GetCustomers()
    {
        return db.Customers.ToList();
    }
}
