@page "/kunden"
@using BlazorTrainingAugust_229061.Models
@inject NorthwindContext db
<h3>Kunden</h3>
<div class="row">
    <div class="col">

        <div class="input-group mb-3">
            <input type="text" class="form-control" @bind="eingabe" @bind:event="oninput">
            <button class="btn btn-outline-secondary" type="submit">filter</button>
        </div>

    </div>
</div>
<div class="row">

    <div class="col">
        <ul class="list-group">

            @foreach (var item in db.Customers.Where(x => x.CompanyName.Contains(eingabe)))
            {
                <li class='list-group-item '>
                    <a href="/kunde/@item.CustomerId" class="btn btn-outline-primary">@item.CustomerId</a>   @item.CompanyName
                    <button class="btn btn-outline-primary float-end" @onclick="()=>SelectedID=item.CustomerId">open </button>
                </li>
                @if (SelectedID == item.CustomerId)
                {
                    <KundenEdit id="SelectedID"></KundenEdit>

                }

            }

        </ul>
    </div>

</div>

@code {
    string eingabe = "";
    string SelectedID;

}
