@page "/js0"
@model BlazorTrainingAugust_229061.Pages.IndexModel
<button onclick='JavaScript:alert("test");'>click</button>
<br />
<script>
    document.title = "Hallo Welt";
    eval("document.title=Hannes");
</script>
@{
}
