<h3>Bindbar</h3>
<input @bind="Anzahl" />
<h4>@Anzahl</h4>
@code {

    private int _Anzahl;
    [Parameter]
    public int Anzahl
    {
        get => _Anzahl;
        set { 
            _Anzahl = value;
            AnzahlChanged.InvokeAsync(value);

        }
    }

    [Parameter]
    public EventCallback<int> AnzahlChanged { get; set; }
}
